<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DeskNote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="DeskNote.Properties.Messages_EN" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DeskNote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DeskNote.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>DeskNote</value>
            </setting>
        </DeskNote.Properties.Settings>
        <DeskNote.Properties.Messages_EN>
            <setting name="Impostazione" serializeAs="String">
                <value />
            </setting>
        </DeskNote.Properties.Messages_EN>
    </applicationSettings>
    <userSettings>
        <DeskNote.Properties.Settings>
            <setting name="CtrlKey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AltKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShiftKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value>73</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>#FFE282</value>
            </setting>
            <setting name="CtrlPopKey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AltPopKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShiftPopKey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WinPopKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyPop" serializeAs="String">
                <value>73</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="Release" serializeAs="String">
                <value>1.3.5</value>
            </setting>
        </DeskNote.Properties.Settings>
    </userSettings>
</configuration>